<div class="new-inn gallery products">
  <div class="mbox mbox--inn">
    <div class="products__slider-wrap">
      <div class="products__left-part">
        <ngx-slick class="products__slider" #slickModal="slick-modal" [config]="slideConfig">
          <div
            ngxSlickItem
            *ngFor="let slide of pageData?.slides"
            class="products__slide">
            <div class="products__view">
              <img src="{{ slide }}" alt="">
            </div>
          </div>
        </ngx-slick>
      </div>
      <div class="products__right-part">
        <div class="products__about">
          <h4>{{ pageData?.title}}</h4>
          <div
            *ngFor="let d of pageData?.description"
            class="products__row-txt">
            <p>{{ d.title }}</p>
            <span>{{ d.text }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="promo__button-place products__button-place">
      <a [href]="pageData?.sourceHref" class="button promo__button"><span>{{ pageData?.sourceText}}</span></a>
    </div>

  </div>
  <button type="button" (click)="onBackButton()" class="news-inn__closer"></button>
</div>
