<div class="promo" appScrollPromo>
  <div class="mbox">
    <div class="promo__header">
      <div class="mbox">
        <h2 class="anim-title">{{pageData?.title}}</h2>
        <div class="promo__baba anim-baba">
          <img src="{{ pageData?.yagaUrl }}" alt="baba">
        </div>
      </div>
    </div>
    <div #torso class="promo__torso anim-body">
      <div class="promo__right">
        <div class="promo__apps">
          <div class="promo__app">
            <p>{{ pageData?.appsTitle }}</p>
              <app-appstore></app-appstore>
          </div>
        </div>
        <div *ngFor="let item of pageData?.rows; let i = index;" class="promo__row">
          <div *ngFor="let prod of item" class="promo__product" [class.promo__product--big]="prod.role == 'big'">
            <div *ngIf="prod.role != 'false'">
              <p>{{prod.title}}</p>
              <a (click)="onList(prod.listHref)">{{ prod.listText }}</a>
            </div>
            <a *ngIf="prod.role != 'false'" (click)="showPopup(prod.itemHref)">{{ prod.itemText }}</a>
            <img *ngIf="prod.role != 'false'" src="{{ prod.img }}" alt="little">
          </div>
        </div>
        <div class="promo__button-place">
          <a [routerLink]="pageData?.listHref.href" class="button promo__button"><span>{{pageData?.listHref.text}}</span></a>
        </div>
      </div>
    </div>
  </div>
  <app-popup
    [@popupAnimation]="stater"
    (close)="stater = 'hide'"
    [pageData]="popupData"
    [type]="'promo'"></app-popup>
</div>
