html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* base styles*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }
*, body, html {
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  max-height: 9001em; }
html {
  height: 100%; overflow: hidden;}
body {background-color: #e8e9eb;
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: 'PT Sans', sans-serif;
  color: #3d3d3d;
  position: relative;
  font-size: 15px;
  line-height: 1; }
main{height: calc(100vh - 50px); overflow: hidden;}
img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }
.mbox { max-width: 1290px; width: 100%;  margin: 0 auto; position: relative; z-index: 1;
  &--inn {max-width: 800px;}
}
.mbox:after {
  content: "";
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block; }
@font-face {
  font-family: "Fira";
  src: url("./assets/font/firasansextracondensed-bold.eot");
  src: url("./assets/font/firasansextracondensed-bold.eot?#iefix") format("embedded-opentype"), url("./assets/font/firasansextracondensed-bold.woff") format("woff"),
  url("./assets/font/firasansextracondensed-bold.ttf") format("truetype");
  font-weight: 700; }
.button {
  padding: 18px 16px 11px 16px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
  color: #424652;
  text-decoration: underline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 3px solid #d14c28; }
h1 {font-size: 111px; color: #fff; font-family: 'Fira', sans-serif ;}
h2 {font-size: 240px; color: #fff; font-family: 'Fira', sans-serif ;}
h4 {font-size: 24px; color: #424652; font-family: 'Fira', sans-serif ;}
button {  background-color: transparent; border:none; border-radius: 0; padding: 0;}
a {color: #d14c28; cursor: pointer; text-decoration: underline;}
a:hover {text-decoration: none;}

.button:hover {  text-decoration: none; }
.footer {background-color: #231f20;
  &__logo {display: flex; justify-content: flex-end; width: 142px; align-items: center;}
  &__logo-box {width: 34px; cursor: pointer;  background-color: transparent; border:none; border-radius: 0; }
  &__menu {display: flex; align-items: center; justify-content: space-between; height: 50px;}
  &__list { height: 100%; width: 100%; overflow: hidden; position: relative;
    .nav-wrap {list-style-type: none;  padding:15px 0 0; display: flex; justify-content: center; height: 70px; overflow-x: scroll; position: relative;
      &-before{content: ''; position: absolute; left: 0; top: 0;z-index: 100;}
      &-after{content: ''; position: absolute; right: 0; top: 0;z-index: 100;transform: scaleX(-1);}
    }
    .nav-item {margin: 0 20px; position: relative;
      &.active{
        &:before{content: ''; width: 8px; height: 8px; background-color: #ff4800; transform:rotate(45deg); position: absolute; left: -17px; top: 6px;}
        button{font-weight: 700; text-decoration: none; pointer-events: none;}
      }
    }
    button { color: #fff; transition: all 0.2s; cursor: pointer; background-color: transparent; border:none; border-radius: 0; font-size: 15px; text-decoration: underline;}
    button:hover { text-decoration: none; }
  }
  &__soclang{width: 420px; display: flex; justify-content: space-between; align-items: center; flex-shrink: 0;}
  &__socials {display: flex;justify-content: space-between; align-items: center;
    a {margin:0 13px; opacity: 0.5; cursor: pointer;display: block;
      &:hover{opacity: 1;}
    }
  }
  &__lang { margin-right: 2.5%; margin-left: 7.7%;
    a{color: #fff; opacity: 0.5; transition: all 0.2s;}
    a:hover{color: #fff; opacity: 1;}
  }
}
.promo { height:100%; overflow-y:auto;
  &__header { position: fixed; z-index: -1; width: 100%; left: 0; top: 0;
    h2 {color: #424652; margin: 0; letter-spacing: 9px;font-size: 240px; font-family: 'Fira', sans-serif; transition: opacity 300ms;}
  }
  &__baba {     position: absolute; top: 119px; left: -14px; z-index: 0;
    &--left{left: auto; right: 60px; top: 0;}
  }
  &__torso {display: flex; justify-content: flex-end; align-items: start; padding: 0 35px;
    &--left{justify-content: flex-start;}
  }
  &__right { width: 790px;  padding: 204px 0; }
  &__apps {margin: 13px 0 22px 0;}
  &__app {    background-color: #fff; width: 65.5%;  padding: 15px; border-radius: 4px;
    p {font-size: 20px; color:#424652; font-weight: 700; margin: 0; padding: 5px 5px;}
    &--apple {margin-left: 25px; }
    &--google {margin-right: 26px; }
  }
  &__aplicates { display: flex; align-items: center; justify-content: space-between; padding: 22px 30px;}
  &__row {    display: flex;  align-items: flex-end; width: 100%; margin: 13px -10px 25px ; justify-content: flex-start;}
  &__place-one {display: flex; justify-content: space-between; align-items: flex-end; width: 100%;}
  &__product {border-radius: 4px; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; position: relative; margin: 0 10px; width: 243px;
    &--big{width: 508px;}
    div {position: absolute; top: 21px; left: 21px;
      a {color: #d14c28; text-decoration: underline;}
      a:hover {text-decoration: none; }
    }
    p {color: #424652; font-size: 20px; font-weight: 700; margin: 0; margin-bottom: 8px;}
    &>a {color: #d14c28; position: absolute; bottom: 19px; left: 21px;}
    &>a:hover {text-decoration: none; }
    img {border-radius: 4px;}
  }
  &__place-two { display: flex; align-items: flex-end; justify-content: space-between; width: 65.5%;}
  &__button-place { display: flex; align-items: center; justify-content: center; padding-right: 105px; margin-bottom: 25px;}
  &__button {margin-top: -2px;}
}
.screen-first {width: 100vw; height: 100vh; background: linear-gradient(to right, #eed0b2, #da4918);display: flex; justify-content: center;align-items: center;}
.screen { display: flex; position: relative; flex-direction: column; margin-bottom: 50px;
  &__baba {overflow: visible; position: absolute;  z-index: 10; right: 800px;
    img{max-width: none;}
  }
  &__logo{display: none; justify-content: center;align-items: flex-start;
    img{width: 68px;}
  }
  &__right {    width: 800px; padding: 6px 27px;
    h1 {font-weight: 600; line-height: 100px; margin: 0 0 0.67em;}
    p {font-size: 20px; font-weight: 700; color: #fff; line-height: 28px; padding-left: 2px; margin-bottom: 15px;}
  }
  &__slide {display: flex; flex-direction: column; justify-content: flex-start;  max-width: 260px; margin: 0 10px;
    a {color: #fff; display: inline-block; line-height: 21px;}
    p {    font-size: 15px; margin: -1px 0 -3px; padding-top: 8px; color: #fff;}
    &--top {background-color: rgba(255,255,255, 0.1);  border-top-right-radius: 4px; border-top-left-radius: 4px; margin-bottom: 1px; padding: 14px 18px; display: flex; flex-direction: column; width: 100%;
      a:hover {text-decoration: none;}
    }
    &--bot {background-color: rgba(255,255,255, 0.1);border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding: 14px 18px; display: flex; width: 100%;
      a {    line-height: 16px;}
      a:hover {   text-decoration: none;}
    }

  }
  &__down {     margin-top: 50px; display: flex; align-items: center;  justify-content: center; cursor: pointer; }
  &__wheel {    margin-right: 12px; }
  &__go-text {color: #fff; font-size: 15px;}
  &__all-top {display: flex;justify-content: flex-end; align-items: center;}
}
.news {
  &__row {min-height: 388px; margin-bottom: 45px; margin-left: -10px; justify-content: space-between;
    &--vid {height: auto;}
  }
  &__img-large {border-radius: 4px;}
  &__img-little {display: inline-block; padding: 0;}
  &__sensation {padding-right: 10px; line-height: 21px; text-decoration: underline; cursor: pointer; color: #d14c28; font-size: inherit; text-align: left;
    &:hover{text-decoration: none;}
  }
  &__baba {top: 124px; left: -5px;}
  &__block {  display: flex; flex-direction: column; border-radius: 4px; justify-content: space-between; align-items: flex-start; position: relative; width: 243px; margin: 0 10px; align-self: flex-start;
    &--down {align-self: flex-end;}
    p {margin: 8px 0;}
    &--big {display: flex; flex-direction: column; width: 508px;}
  }
  &__journal { background-color: #fff; border-radius: 4px; padding: 24px 10px 10px 10px; text-align: center; position: relative; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2); text-decoration: none; cursor: pointer; display: flex; flex-direction: column; width: 100%;
    span {font-size: 20px; color: #424652; font-weight: 700; line-height: 27px; margin-bottom: 5px; text-decoration: underline; padding: 0 25px;}
    img {    margin-top: 10px; }
    p {font-family: 'RobotoSlab', Arial, sans-serif; color: rgb(153, 153, 153);font-size: 15px; margin-top: 12px; margin-bottom: 15px;}
    &:before {left: 50%; transform: translateX(-50%); content: ''; display: block; width: 90%; height: 80%; z-index: -1; position: absolute; background-color: #fff; bottom: -10px; border-radius: 4px; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);}
    &:after {left: 50%;transform: translateX(-50%); content: ''; display: block; width: 80%; height: 80%; z-index: -2; position: absolute; background-color: #fff; bottom: -20px; border-radius: 4px; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);}
    &:hover {
      span { text-decoration: none; }
    }
  }
  &__source {display: inline-block;}
  &__img-box {position: relative; margin-bottom: 12px;}
  &__hot {position: absolute; bottom: -7px; left: -6px;}
  &__video {border-radius: 4px; width: 100%; height: 370px; margin-bottom: 18px;}
}
.media { background-color: #e8e9eb;
  &__header {width: 100%; max-width: 1290px; }
  &__baba {right: 68px; left: auto; top: 50px;}
  &__torso {justify-content: flex-start; padding: 0 18px;}
  &__zagolovok {font-size: 22px; color: #424652; font-weight: 700; display: inline-block; margin-bottom: 16px;
    &--white {color: #fff;}
  }
  &__right {padding-top: 252px;}
  &__intro {display: flex; flex-wrap: wrap; margin-bottom: 15px;}
  &__img-box { position: relative;
    a { background-color: #424652;  position: absolute; left: 10px; bottom: 10px;  padding: 6px 7px 3px 5px;  -webkit-border-radius: 4px;  -moz-border-radius: 4px; border-radius: 4px;}
  }
  &__all {display: flex; flex-wrap: wrap; border-bottom: 1px solid #d0d1d3; width: 507px;}
  &__row {    width: 100%; display: flex; justify-content: space-between; margin-bottom: 8px;  }
  &__gather {display: flex;}
  &__count {color: #999999; margin-left: 7px;}
  &__songs {background-color: #fff; display: flex; flex-direction: column; border-radius: 4px; align-items: center;padding: 20px 0; align-self: flex-end; width: 508px;}
  &__tracks {display: flex; flex-direction: column; justify-content: space-between; width: 100%; padding: 15px 20px;}
  &__track {margin: 5px 0; background-color: #f3f4f5; border-radius: 4px; display: flex; align-items: center; width: 100%;
    span {color: #afafb0; margin-left: 8px;}
  }
  &__place { margin: 17px 0px 20px;
    &--right {justify-content: flex-end; padding: 0px 18px 0 18px; margin: 17px 0px 20px;}
  }
  &__play {height: 30px; width: 30px; border-radius: 50%; border: none; position: relative; margin: 10px; background-color: #93959b; transition: all 0.2s; cursor: pointer;
    &:after {content: ''; display: block;  position: absolute; border: 5px solid transparent; border-left: 10px solid #fff; border-radius: 3px; top: 50%; left: 50%; transform: translate(-25%, -50%);}
    &:hover {background-color: #333641; }
    &.active {background-color: #d14c28;
      &:after {content: ''; display: block; width: 10px; height: 10px; border: 3px solid #fff; border-top: none; border-bottom: none; border-radius: 0;  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
    }
  }
  &__track-img {max-width: 50px; max-height: 50px; border-top-left-radius: 4px; border-bottom-left-radius: 4px;
    img {object-fit: cover; border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
  }
  &__video {display: flex; flex-direction: column; justify-content: space-between; position: relative;
    img {border-radius: 4px;}
  }
  &__vid-body {position: absolute; width: 100%; height: 100%; display: flex; justify-content: space-between; flex-direction: column; align-items: center; padding: 20px;}
}
.contacts{ height: calc(100vh - 50px); position: relative;
  &__title{font-size: 15px; margin-top: 30px; margin-bottom: 9px;}
  &__text{font-size: 20px;}
  &__baba{left: -68px;}
  &__copyright{position: absolute; left: 0;bottom: 98px;}
}
.news-inn {position: relative; background-color: #e8e9eb; padding: 0 15px 80px;
  h4 {margin-bottom: 0; padding-right: 40px; padding-top: 25px;}
  &__date {font-family: 'RobotoSlab', Arial, sans-serif;  color: #999999; font-size: 14px; margin-top: 8px; margin-bottom: 15px;}
  &__closer { width: 50px; height: 50px; position: absolute; top: 12px; right: 20px; padding: 0; border: 0; background-color: transparent; opacity: 0.4; transition: all 0.2s; transform: rotateZ(45deg); cursor: pointer; z-index: 100;
    &:hover {opacity: 1;}
    &:after {content: ''; display: block; width: 100%; height: 2px; position: absolute; top: 50%; transform: translateY(-50%); background-color: #424652;}
    &:before {content: ''; display: block; height: 100%; width: 2px; position: absolute; top: 0; left: 50%; transform: translateX(-50%); background-color: #424652;}
  }
  &__text {margin-top: 16px; line-height: 22px;}
  &__img-place {width: 100%; height: auto; margin: 15px 0;
    img {object-fit: cover; border-radius: 4px;}
  }
  &__slider {margin: 15px 0;}
  &__slider-wrap {position: relative;}
  &__slide {
    .href{ border-radius: 6px; display: inline-block; cursor: pointer;
      img {margin: 0 auto; border-radius: 6px; object-fit: cover;  border: 2px solid transparent;}
      &:hover {
        img {border: 2px solid #ff4700;}
      }
    }
  }
  &__source {margin: 0px 0 20px 0 ; display: inline-block;}
  .slick-arrow {width: 32px; min-height: 32px; background-color: #fff; border-radius: 50%; z-index: 100;
    &:hover,
    &:focus{background-color: #fff;}
  }
  .slick-prev {left: -10px;
    &:after {content: ''; display: block; width: 12px; height: 12px; border: 3px solid #ff4700;  position: absolute; border-radius: 1px; transform: rotateZ(45deg);top: 10px; left: 11px; border-top: 0; border-right: 0; transition: all 0.2s; opacity: 0.5;}
    &:hover {background-color: #fff;
      &:after {opacity: 1;}
    }
    &:focus{background-color: #fff;}
  }
  .slick-next { right: -10px;
    &:after {content: ''; display: block; width: 12px; height: 12px; border: 3px solid #ff4700;  position: absolute; border-radius: 1px; transform: rotateZ(-135deg);top: 10px; left: 7px; border-top: 0; border-right: 0; transition: all 0.2s; opacity: 0.5;}
    &:hover {
      &:after {opacity: 1;}
    }
  }
}
.list { display: flex; padding: 217px 0 204px; width: 100%;position: relative;
  &__right { padding-top: 6px; position: fixed; width: 210px; padding-right: 10px;    right: calc(50% - 650px); top: 208px; padding-left: 30px;
    ul {list-style-type: none; padding: 0;
      li { margin: 15px 0;
        button {font-weight: 700; font-size: 20px; color: #424652; text-decoration: underline dotted; line-height: 20px; display: inline-block;  position: relative;
          &:hover {text-decoration: none;}

        }
        &.active{
          button {font-weight: 700; text-decoration: none; pointer-events: none;
            &:before {content: ''; width: 8px; height: 8px; background-color: #ff4800; transform: rotate(45deg); position: absolute; left: -17px; top: 6px;}
          }
        }

      }
    }
  }
  &__left {width: calc(100% - 210px);}
  &__title { position: relative; margin-top: 13px;
    h4 {background-color: #e8e9eb; padding-right: 8px; margin-top: 0;}
    &:after {content: ''; display: block; width: 100%; height: 1px; position: absolute; top: 15px; background-color: #b6b8bd; z-index: -1;}
  }
  &__content {display: flex; flex-wrap: wrap; margin: 0 -10px; justify-content: space-between;}
  &__img-box {width: 244px; margin: 10px;
    &--last {background-color: #fff; border-radius: 4px; display: flex; align-items: center; justify-content: center; text-align: center; flex-direction: column;
      span {font-weight: 700; font-size: 20px; color: #424652; margin: 10px 0; padding: 10px;
        a {background: none; color: #424652; display: inline-block; }
      }
    }
    img {object-fit: cover;}
  }
  &__music {width: 47%; padding-right: 10px; margin-top: -11px;}
  &__about-music {width: 50%; padding-left: 10px;
    p {margin-bottom: 10px;   padding-right: 45px; line-height: 22px;}
  }
  &__music-wrap { display: flex; align-items: flex-end; justify-content: flex-start; margin: 0 10px 8px;}
  &__track {margin: 10px 0;}
  &__app {padding: 0; width: 100%;}
  &__apps {margin: 5px 0px 10px;}
  &__video {margin: 10px;
    a { display: inline-block;}
    img {margin-bottom: 19px; border-radius: 4px;}
    p {color: #999999; margin-bottom: 0px; margin-top: 9px;}
  }
  &__blocks {display: flex; margin-left: -10px;}
}
.gallery { display: flex; justify-content: center;align-items: center;
  &__image {
    img {margin: 0 auto;}
  }
  &__source {display: flex; align-items: center; justify-content: center; margin: 20px 0;}
  &__source-img {margin: 0 5px;}
  &__source-where {display: inline-block; margin: 0px 5px;}
  .slick-arrow { cursor: pointer; opacity: 0.5; transition: all 0.2s; min-width: 38px; min-height: 38px; top: 38.5%; z-index: 10;
    &:hover {opacity: 1;}
    &:before {content: ''; width: 27px; height: 4px; background-color: #424652; border-radius: 2px; position: absolute;top: 0;
      left: 0; }
    &:after {content: ''; width: 4px; height: 27px; background-color: #424652; border-radius: 2px; position: absolute; top: 0;
      left: 0;}
  }
  .slick-prev {transform: rotateZ(-45deg); left: 5px;}
  .slick-next {transform: rotateZ(135deg); right: 5px;}
}
.products {
  &__row {width: 100%; display: flex;}
  &__col {display: flex; flex-grow: 1; width: 50%; flex-wrap: wrap; justify-content: space-between;}
  &__box {width: 244px; margin: 10px 10px 5px 10px;
    img {object-fit: cover; border-radius: 4px;}
    a {display: inline-block; margin: 10px 0 5px;}
    &--big {width: 508px;}
  }
  &__img-box {background-color: #fff; border-radius: 4px;}
  &__place {display: flex;}
  &__about {background-color: #fff; padding: 20px; height: 100%;
    h4 {border-bottom: 1px solid #ececed; margin: 0; line-height: 27px; padding: 0 0 13px 0; margin-bottom: 14px;}
  }
  &__slide {width: 500px; height: 500px; display: flex; align-items: center; justify-content: center;}
  &__slider {margin: 0;}
  &__slider-wrap {display: flex; margin-bottom: 25px;}
  &__button-place {padding: 0;}
  &__left-part {width: 500px; background-color: #fff;}
  &__view {display: flex; align-items: center; justify-content: center; height: 100%; border-radius: 4px;
    img {width: 100%; height: auto; border-radius: 4px;}
  }
  &__row-txt {width: 100%; display: flex; align-items: flex-start; padding: 6px 0;
    p {margin: 0; width: 43%; line-height: 22px;}
    span {padding: 0 8px; width: 57%; line-height: 22px;}
  }
  &__collumn {width: 50%; display: inline-block;}
  .slick-prev {left: -113px; top: 45%;}
  .slick-next {right: -444px; top: 45%;}
}
app-nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99999;
}
@media screen and (max-height: 780px) {
  .screen__right h1{margin: 0; font-size: 86px;}
}
@media screen and (max-width: 1300px){
  .list__right {right: 0;}
}
@media screen and (max-width: 1280px){
  .promo__baba{display: none;}
  .promo__right{width: 100%;}
  .promo__header h2{font-size: 200px;}
  .promo__button-place{padding-right: 0; margin-top: 20px;}
}
@media screen and (max-width: 992px){
  .footer__soclang{width: auto; justify-content: flex-end; margin-right: 15px;}
  .footer__logo{width: auto; margin-left: 15px;}
  .footer__socials {display: none;}
  .footer__lang{white-space: nowrap; margin: 0;}
  .screen__slider-place{display: none;}
  .screen__down{display: none;}
  .screen__right{width: 100%; padding: 50px 10px 0;}
  .screen__right p{display: none;}
  .screen__right h1{font-size: 45px; line-height: 1.25; text-align: center;}
  .screen__logo{display: flex;}
  .screen-first{align-items: flex-start; padding-top: 50px;height: calc(100vh - 50px);}
  .screen__baba { right: 20%;   width: 80%;  top: 254px;
    img{max-width: 100%;}
  }
  .promo__header h2{font-size: 140px;}
  .media__right { padding-top: 160px; }
  .list,
  .promo__right {  padding: 160px 0; }
  .list__right{display: none;}
  .list__left{width: 100%;}
  .media__img-box.empty{display: none;}
  .list__img-box{width: 33%; margin: 10px 0; padding: 0 10px;
    img{width: 100%;}
  }
  .list__img-box--last img{width: auto;}
}
@media screen and (max-width: 768px){
  app-nav{bottom: auto; top: 0;}
  main{padding-top: 50px; height: 100%;}
  .promo__header h2{font-size: 70px; letter-spacing: 0;}
  .promo__header{padding: 20px 15px 0; position: relative; }
  .list,
  .promo__right{padding: 10px 0 70px;}
  .promo__torso{padding: 0 15px;}
  .contacts{height: auto;}
  .contacts__copyright{position: relative; bottom: auto;}
  .news__row{min-height: 1px; flex-wrap: wrap; margin: 0; }
  .news__block{margin: 10px;    width: 45%;}
  .news__journal{margin-bottom: 30px;}
  .media__img-box{margin: 10px;}
  .media__all{width: 100%;}
  .media__place--right{padding: 0 0 18px;}
  .promo__row{flex-wrap: wrap; margin: 10px 0; flex-direction: column; align-items: center;}
  .promo__product{width: 100%; margin: 10px 0; padding: 0 10px;}
  .promo__app{width: 100%;}
  .list__left .promo__row{flex-direction: row;}
  .list__content{margin: 0;}
  .list__img-box{width: 50%; margin: 10px 0;}
  .list__img-box--last{padding: 10px; width: 100%;}
  .list__music-wrap{flex-direction: column; margin: 0;}
  .list__music{width: 100%; margin-bottom: 10px;}
  .list__about-music{width: 100%;margin-bottom: 10px;}
  .gallery{padding: 80px 15px 0;width: 100%;}
  .mbox--inn iframe{width: 100%;}
  .media__songs,
  .promo__product--big{width: 100%;}
}
@media screen and (max-width: 480px){
  .screen__baba{ top: 300px;width: 100%; right: 10%;}
  .footer__list .nav-wrap{justify-content: flex-start;}
  .news__block{margin:10px 0;    width: 100%;}
  .mbillboard{width: 100%; text-align: center;}
  .news__sensation{padding-right: 0; width: 100%; text-align: center;}
  .news__img-large{width: 100%;}
  .media__img-box{margin: 2px;}
  .media__row{margin-bottom: 0;}
  .media__vid-body{padding: 5px;}
  .media__play,
  .media__track-img{flex-shrink: 0;}
  .media__tracks{padding: 15px 5px;}
  .promo__product img { width: 100%; }
  .list__content{margin: 0;}
  .list__img-box{margin: 5px 0; padding: 0 2px;}
  .list__img-box--last{padding: 10px;}
}
